/*--------general styles*/
*
{
    padding: 0px;
    margin: 0px auto;
}

:root
{
    --red: brown;
    --bg: antiquewhite;
    --white: white;
    --teal: #17a2b8;

    --font-main: "Work Sans", Arial, Helvetica, sans-serif;
    --font-accent: "Pacifico";
}

/*--------body styles*/
body
{
    background-color: var(--red);
    font-family: var(--font-main)
}

a
{
    color: inherit;
    text-decoration: none;
}

a:hover
{
    color: inherit;
    text-decoration: none;
}

.submit-btn
{
    margin: 0px 5px;
}

/*--------header styles*/
header
{
    background: var(--bg);
}

header h1
{
    font-size: 4.4rem;
    font-weight: 700;
    text-align: center;
    color: var(--red);
    line-height: 2.5rem;
}

header h3
{
    color: var(--bg);
    font-size: 22px;
    text-align: center;
}

.slogan-bg
{
    background-color: var(--red);
    margin-top: -5px;
}

/*--------nav styles*/
nav
{
    background: rgba(23,162,184,0.4);
    width: max-content;
    height: 2.4rem;
    padding: 0 1rem;
    z-index: 2;
    position: fixed;
    left: 48%;
    transform: translateX(-50%);
    top: 4.5rem;
    display: flex;
    gap: 2rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
}

nav a
{
    padding: 0.5rem;
    border-radius: 50%;
    display: flex;
    color: var(--red);
    font-size: 1.4rem;
}

/*--------card styles*/
section
{
    background-color: var(--bg);
    padding: 1rem 8px;
}

#journals
{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.card
{
    box-shadow: 1px 2px 2px rgba(0,0,0,0.2)
}

.journal
{
    background-color: white;
    margin: 20px 0px;
    padding: 10px;
}

.img-preview
{
    height: 250px;
    width: 250px;
    margin: 5px 8px;
    border: solid 2px grey;
    object-fit: cover;
}

.card:before
{
    content: "";
    position: absolute;
    top: -3px;
    right: -3px;
    border-width: 0 32px 32px 0;
    border-style: solid;
    border-color: transparent rgba(0,0,0) transparent rgba(255,255,255,0.5);
}
  
.card:after
{
    content: "";
    position: absolute;
    bottom: -3px;
    left: -3px;
    border-width: 0 32px 32px 0;
    border-style: solid;
    border-color: rgba(0,0,0) transparent rgba(0,0,0) transparent;
}

.journal div
{
    height: 128px;
    padding: 7px;
}

.width18
{
    width: 18rem;
}

/*--------single journal styles*/
.journal-title
{
    font-family: "Pacifico";
    font-size: 48px;
    color: var(--red);
    padding-top: 3px;
    margin: 0px auto;
}

.journal-desc
{
    padding-top: 5px;
}

.flex
{
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
    justify-content: center;
}

.single-img
{
    margin: 5px 1.5rem;
    padding: 8px 6px;
    max-height: 278px;
    aspect-ratio: 1/1;
}

.dropdown
{
    margin: 0px;
}

.add-btn
{
    font-family: "Pacifico";
    font-size: 30px;
    height: fit-content;
    min-width: 278px;
    margin: 10px 1.5rem;
    padding: 20px;
}

.journal-comment p:not(:first-child)
{
    border-top: 2px solid black;
    padding-top: 10px;
}

.journal-comment p span
{
    color: grey;
    font-style: italic;
}

/*--------login page styles*/
.log-in
{
    align-items: center;
    background: var(--bg);
    padding: 2.5rem 0.5rem 0.01rem 0.5rem;
}

.log-in h2
{
    font-family: "Pacifico";
    text-align: center;
}

.log-in div form
{
    display: block;
}

.log-in input
{
    margin-bottom: 5px;
}

.center
{
    text-align: center;
}

.center h2
{
    font-size: 48px;
}

.center p
{
    font-size: 20px;
}

/*--------create journal styles*/
#upload p
{
    text-align: center;
    font-family: var(--font-accent);
    font-size: 1.4rem;
    color: var(--red);
    text-decoration: underline;
}

.new-journal
{
    display: block;
}

.new-journal h2
{
    text-align: center;
}

.new-journal label
{
    padding: 5px 0px;
}

.new-journal textarea
{
    margin-bottom: 10px;
}

.new-journal button
{
    margin: 5px 0px;
}

/*--------footer styles*/
footer
{
    width: 100%;
    background-color: brown;
}

footer div p
{
    font-size: 12px;
    margin-top: 1rem;
}

footer div h3
{
    color: white;
    font-weight: 700;
    padding-right: 10px;
}

footer div h3, footer div p, footer div a
{
    color: white;
    line-height: 1rem;
    text-align: center;
}

footer a:focus
{
    color: antiquewhite;
}

.donate
{
    padding: 1rem;
    margin-top: -10px;
    margin-bottom: 1rem;
}

#donate
{
    background-color: var(--red);
}

.donate-btn
{
    margin-top: 1rem;
}

@media screen and (min-width: 600px)
{
    nav
    {
        left: 49%;
    }
}